// Main layout: Navbar and body styling
@use "notFound";
@use "internalServer";
@use "login";
@use "register";
@use "messages";
@import "node_modules/bootstrap/scss/bootstrap";

html, body {
    height: 100%;
}


head {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


body {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: white;
    background-image: url(/img/tech-background3.png);
    overflow-x: hidden;
}


.navbar a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}


/* Welcome Box style and animation */
#homepage-welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}


#homepage-welcome h1 {
    color: #ffffff;
    font-size: 65px;
    border: #ffffff 5px solid;
    padding: 75px 150px;

    /* Add margin in future */
    margin: 200px;
}

#homepage-welcome {
    -webkit-animation: homepage-welcome 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: homepage-welcome 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes homepage-welcome {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-800px);
        transform: translateZ(-800px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

